{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/PERPUS_ira.png' %}">
    <title>Admin Dashboard | Perpustakan</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="{% static 'css/style.css'%} ">
    {% block css %} {% endblock css %}
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        {%include 'snippets/nav.html'%}

        <!-- ========================= Main ==================== -->
        <div class="main">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    {% block js %} {% endblock js %}
    <script src="{% static 'js/main.js'%}"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
</body>
</html>