{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard | Perpustakan</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="{% static 'css/style.css'%} ">
    {% block css %} {% endblock css %}
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        {%include 'snippets/nav.html'%}

        <!-- ========================= Main ==================== -->
        <div class="main">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    {% block js %} {% endblock js %}
    <script src="{% static 'js/main.js'%}"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        // Data retrieved from https://www.ssb.no/statbank/table/10467/
        const chart = Highcharts.chart('container', {

        chart: {
            type: 'column'
        },

        title: {
            text: 'Data Statistic Perpustakaan'
        },

        subtitle: {
            text: 'Data buku, kategori, anggota dan peminjaman buku'
        },

        legend: {
            align: 'right',
            verticalAlign: 'middle',
            layout: 'vertical'
        },

        xAxis: {
            categories: ['2019', '2020', '2021'],
            labels: {
                x: -10
            }
        },

        yAxis: {
            allowDecimals: false,
            title: {
                text: 'Jumlah'
            }
        },

        series: [{
            name: 'buku',
            data: [38, 51, 34]
        }, {
            name: 'peminjaman',
            data: [31, 26, 27]
        }, {
            name: 'anggota',
            data: [38, 42, 41]
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        align: 'center',
                        verticalAlign: 'bottom',
                        layout: 'horizontal'
                    },
                    yAxis: {
                        labels: {
                            align: 'left',
                            x: 0,
                            y: -5
                        },
                        title: {
                            text: null
                        }
                    },
                    subtitle: {
                        text: null
                    },
                    credits: {
                        enabled: false
                    }
                }
            }]
        }
        });

        document.getElementById('small').addEventListener('click', function () {
        chart.setSize(400);
        });

        document.getElementById('large').addEventListener('click', function () {
        chart.setSize(600);
        });

        document.getElementById('auto').addEventListener('click', function () {
        chart.setSize(null);
        });

    </script>
</body>

</html>