{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="topbar">
    <div class="toggle">
        <ion-icon name="menu-outline"></ion-icon>
    </div>

    <div class="search">
        <label>
            <input type="text" placeholder="Search here">
            <ion-icon name="search-outline"></ion-icon>
        </label>
    </div>

    <div class="user">
        <img src="{% static 'imgs/customer01.jpg'%}" alt="">
    </div>
</div>

<!-- ======================= Cards ================== -->
<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers">{{jlh_anggota}}</div>
            <div class="cardName">Anggota</div>
        </div>

        <div class="iconBx">
            <ion-icon name="people-outline"></ion-icon>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">{{jlh_peminjam}}</div>
            <div class="cardName">Peminjaman</div>
        </div>

        <div class="iconBx">
            <ion-icon name="bookmarks-outline"></ion-icon>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">{{jlh_kategori}}</div>
            <div class="cardName">Kategori</div>
        </div>

        <div class="iconBx">
            <ion-icon name="documents-outline"></ion-icon>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">{{jlh_buku}}</div>
            <div class="cardName">Buku</div>
        </div>

        <div class="iconBx">
            <ion-icon name="document-text-outline"></ion-icon>
        </div>
    </div>
</div>

<!-- ================ Order Details List ================= -->
<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>Visualisasi Data</h2>
            <a href="#" class="btn">View All</a>
        </div>

        <figure class="highcharts-figure">
            <div id="container"></div>
            <p class="highcharts-description">
                
            </p>
        </figure>
    </div>
    

    <!-- ================= New Customers ================ -->
    <div class="recentCustomers">
        <div class="cardHeader">
            <h2>Recent Actions</h2>
        </div>

        <table>
            {% for recent_agt in anggota %}
            <tr>
                <td width="60px">
                    <div class="imgBx"> <img src="{{recent_agt.foto.url}}" alt=""></div>
                </td>
                <td>
                    <h4>{{ recent_agt.user }} <br> <span>{{ recent_agt.created_at }}</span></h4>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}
{% block js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
    const chart = Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Data Statistic Perpustakaan'
        },
        subtitle: {
            text: 'Data buku, kategori, anggota dan peminjaman buku'
        },
        legend: {
            align: 'right',
            verticalAlign: 'middle',
            layout: 'vertical'
        },
        xAxis: {
            categories: ['Anggota', 'Buku', 'Kategori', 'Peminjaman'],
            labels: {
                x: -10
            }
        },
        yAxis: {
            allowDecimals: false,
            title: {
                text: 'Jumlah'
            }
        },
        series: [{
            name: 'Jumlah anggota',
            data: [{{ jlh_anggota }}],
            color: 'rgb(255,38,139)' // Warna untuk Anggota
        }, {
            name: 'Jumlah buku',
            data: [{{ jlh_buku }}],
            color: 'rgb(255,183,15)' // Warna untuk Buku
        }, {
            name: 'Jumlah kategori',
            data: [{{ jlh_kategori }}],
            color: 'rgb(36,131,255)' // Warna untuk Kategori
        }, {
            name: 'Jumlah peminjaman',
            data: [{{ jlh_peminjam }}],
            color: 'rgb(135,255,15)' // Warna untuk Peminjaman
        }],
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        align: 'center',
                        verticalAlign: 'bottom',
                        layout: 'horizontal'
                    },
                    yAxis: {
                        labels: {
                            align: 'left',
                            x: 0,
                            y: -5
                        },
                        title: {
                            text: null
                        }
                    },
                    subtitle: {
                        text: null
                    },
                    credits: {
                        enabled: false
                    }
                }
            }]
        }
    });
</script>


{% endblock js %}