{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/PERPUS_ira.png' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>PERPUS.ira</title>
</head>
<body>
    <h2>PERPUS<span>.ira</span></h2>
    <div class="container">
        <div class="d-l">
            <h1>Jelajahi Dunia Ilmu <span>Baca, Belajar, Berkarya!</span></h1>
            <p>Jelajahi Dunia di Antara Halaman! Temukan Pengetahuan yang Menginspirasi di Perpustakaan Kami</p>
            <div class="btn">
                <a href="{% url 'signin' %}">Sign in</a>
                <a href="{% url 'signup' %}">Sign up</a>
            </div>
        </div>
        <div class="d-r">
            <img src="{% static 'img/bg2.png' %}" alt="img" >
        </div>
    </div>
</body>
</html>